*{	font-family:"Delius-Regular";}

div.semi-detalle-container{
	float:left;
	width:200px;
	height:260px;
	padding:5px;
	margin: 5px;
	border: 1px solid gray;
}

div.semi-detalle-container:hover{
	box-shadow: 0px 0px 10px 0px black;
}

div.semi-detalle-imagen{
	width:200px;
	height:180px;
}

div.semi-detalle-imagen img{
	max-width:100%;
	max-height:100%;
}

div.semi-detalle-titulo{
	width:200px;
	height:2em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
}

div.semi-detalle-titulo span{
	padding-bottom:2px;
	padding-left:1em;
	width:100%;
	height:100%;
	color: black;
}

div.semi-detalle-countdown{
	width:200px;
	height:20px;
	text-align:center;
}

div.semi-detalle-countdown p{
	font-weight: bold;
	color: red;
}

div.info-subasta{
	padding: 5px;
	padding-left: 20px;
	width: 80%;
	height:auto;
	margin-left:10%;
	box-shadow: 0px 0px 10px 0px black;
	box-sizing: border-box;
}

div.info-subasta img {
	width:60%;
	min-width: 200px;
	min-height: 200px;
	height:auto;
	float:left;
}

div.info-lateral {
	width:25%;
	min-width:200px;
	float:left;
	box-sizing: border-box;
	padding: 0px 5px;
	display:block;
}

div.info-lateral span{
	font-weight:bold;
}

div.contenedor-countdown{
	
}

div.detalle-countdown{
	width:100%;
	min-width:200px;
	text-align:center;
}

div.detalle-countdown p{
	font-weight: bold;
	color: red;
}

div.info-descripcion {
	clear:both;
	padding-top:1em;
}

div.info-descripcion span {
	font-weight:bold;
	text-decoration:underline;
}

h1.titulo{
	font-size:200%;
	margin-bottom:10px;
}


div.preguntas-subasta{
	padding: 5px;
	padding-left: 20px;
	width: 80%;
	height:auto;
	margin-left:10%;
	margin-top:5%;
	margin-bottom:5%;
	box-shadow: 0px 0px 10px 0px black;
	box-sizing: border-box;
}

div.singularidad{
	padding: 0px;
	padding-left: 0px;
	width: 80%;
	height:auto;
	margin-left:1%;
	margin-top:1%;
	margin-bottom:1%;
	
}
div.pregunta{
	margin-left:0%;
	margin-top:0%;
	margin-bottom:0%;
	margin-right: 0%;
	border: solid black 2px;
}
div.preguntaConResponder{
	margin-left:0%;
	margin-top:0%;
	margin-bottom:0%;
	margin-right: 0%;
	border: solid black 2px;
	height: 
}
div.headPregunta{
	
	height:4%;
	margin-left:0%;
	margin-top:0%;
	margin-bottom:0%;
	background-color: #b82828;
	border: solid black 2px;
}

div.bodyPregunta{
	padding-top: 3%;
	padding-left: 1%;
	
}
div.respuesta{
	position: relative;
	left: 5%;
	bottom: 15px;
	width:95%;

	border: solid black 2px;
}
div.headRespuesta{
	height:4%;
	margin-left:0%;
	margin-top:0%;
	margin-bottom:0%;
	background-color: rgb(180,190,209);
	border: solid black 2px;

}
div.bodyRespuesta{
	padding-top: 3%;
	padding-left: 1%;
	padding-bottom:2%;
}
div.responder{

}
form.formResponder{

}
textarea.textoRespuesta{
	display: none;
	padding-right: 2px;
	border-radius: 5px;
	padding-left: 2px;
	width: 75%;
	height: 10%;
	margin-bottom: 5px;

}
button.reply{

	visibility: hidden;
	background:#b82828;
	border-radius:8px;
	width:auto;
	height:auto;
	font-weight:bold;
    color:#d9d1a5;
	margin:0 auto;
	margin-right: 3%;
	padding: 3px;
}
button.reply:hover{
	color: #232125;
}
button.cancel{
	display: inline;
	visibility: hidden;
	background:#b82828;
	border-radius:8px;
	width:auto;
	height:auto;
	font-weight:bold;
    color:#d9d1a5;
	margin:0 auto;
	padding: 3px;

}
button.cancel:hover{
	color: #232125;
}

p.infoBody{
}

p.infoHead{
	text-align: right;
	font-weight: bold;
}
#preguntas{

}
#textoPregunta{
	padding-right: 2px;
	border-radius: 5px;
	padding-left: 2px;
	width: 75%;
	height: 10%;
	margin-bottom: 5px;
}
#botonPregunta{
	background:#b82828;
	border-radius:8px;
	width:auto;
	height:auto;
	font-weight:bold;
    color:#d9d1a5;
	margin:0 auto;
	margin-right: 3%;
	padding: 3px;
}
#botonPregunta:hover{
	color: #232125;

}
#precio{
	width:8em;
}

#motivo{
	max-width:100%;
	width:99%;
	resize: vertical;
}

#Foferta{
	position:inherit;
	width:100%;
	border: initial;
	box-sizing:border-box;
	padding: 5px 15px 5px 0px;
}
#Foferta fieldset{
	border: 2px groove;
	padding: 5px 10px;
}

#Foferta fieldset legend{
	background-color:black;
	color:red;
	font-weight:bold;
	border-radius: 50px;
	margin: 0px 1em;
	padding:2px 10px;
}

#submit{
	margin-left:35%;
}