/* RESET DE ESTILOS*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration:none;
	font-weight: inherit;		
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: "Delius-Regular";
    src: url(Delius-Regular.ttf) format("truetype");
}

html {
    background: url('../imagenes/fondo.png');
    -webkit-background-size: center;
    -moz-background-size: center;
    -o-background-size: center;
	background-repeat: repeat;
 	background-attachment: fixed;
 	background-position: center center;
	height: 100%;

}

body {
    height: 100%;
}

div.wrapper{
	min-height: 700px;
	height:auto;
}

div.pagina{
	min-height: 768px;
	height:auto;
	clear:both;
}

image{
	display: block;
	clear: left;
	float:left;
}


div.login form {
	padding: 15px;
	float:right;

}

div.login {
	box-sizing:border-box;
	width:100%;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 100%;
	margin: 0 auto;
	border-bottom: 3px solid #b82828;
	height: 50px;
	background: #232125;
	color:#ffffff;
	font-family: "Delius-Regular";
}

div.login a{
	color:#b82828;
	text-shadow: 1px white;
	padding: 15px;
	font-family: "Delius-Regular";

	position: absolute;

}
	



div.footer{
	border-top: 3px solid #b82828;
	height: 25px;
	width: 100%;
	margin-top: -25px;
    position: relative;
    clear:both;

	left:0;
    margin:0 auto;
	background: #232125;
	color:white;
	font-family: "Delius-Regular";
	text-align: center;
}