div.registro{
	padding-top: 15px;
	margin: 0 auto ;
	height: auto;
	padding: 25px;
	background: rgba( 73, 73, 73, 0.616 );
	width: 350px;
	padding-bottom: 15px;
	border-radius: 25px;
	border:2px solid black;
	color:white;
}

div.registro form{
	margin:0 auto;
	margin-top: 25px;
	width: 700px;
	font-family: "Delius-Regular";

}

#enviar{
	margin:0 auto;
}

span.oblig{
	color: #680c07;
	height: 20px;
}

p.infoR{
	text-align: left;
	padding-left: 25px;
	font-family: "Delius-Regular";
}

form.reg input[type=text]{
	padding-right: 2px;
	border-radius: 5px;
	padding-left: 2px;
	width: 350px;
	height: 40px;
	margin-bottom: 5px;
}

form.reg input[type=number]{
	border-radius: 5px;
	padding-right: 2px;
	padding-left: 2px;
	width: 350px;
	height: 40px;
	margin-bottom: 5px;	
}

form.reg input[type=password]{
	border-radius: 5px;
	padding-right: 2px;
	padding-left: 2px;
	width: 350px;
	height: 40px;
	margin-bottom: 5px;	
}

